<div class="container">
  <h1>TodoList avec NgRx</h1>
  <div>
    @if(isLoading$ | async) {
    <p>Chargement des tâches...</p>
    }
    <div>
      <task-add></task-add>
    </div>
    <div>
      <select name="" id="" [(ngModel)]="selectedValue">
        <option [ngValue]="true">True</option>
        <option [ngValue]="false">False</option>
      </select>
      <button (click)="filter(selectedValue)">Filtrer</button>
    </div>
    <ul>
      @for( task of tasks$ | async ; track task.id){
        <li>{{ task.name }}
          <button (click)="completedTask(task)">Completed</button>
        <button (click)="deleteTask(task.id)">Delete</button></li>
      }
    </ul>
    <p>{{ tasksCompletedCount$ | async }}</p>
  </div>
</div>
